In [6]:
print("Microsft") #this statement will be executed

Microsft

In [3]:
# print("MLSA")

In [10]:
print(1+2)
print(10-11)
print(3*4)
print(12/6)

3
-1
12
2.0

In [12]:
3/1

3.0

In [14]:
#What happens when you have to divide 10 rocks into 3 piles
10%3

1

In [22]:
#The moon is 10^5.37 miles away
10**5.37

234422.88153199226

In [24]:
2**2 #Before the double Asteriks - Base & After the double Asteriks - Exponents

4

In [18]:
#If you want to divide 10 rocks in 3 piles and leave the remaining rocks
10 // 3

3

In [21]:
5//2

2

# VARIABLES IN PYTHON

In [41]:
#Integer Variable
noOfRocks = 10

#Float Variable
lengthOfRock = 10.5

#String Variable
STEPMission = "Aretemis Rover"

#Boolean Variable
EngineOn = False

In [42]:
type(EngineOn)

bool

In [44]:
noOfRocks -= 1
noOfRocks

10

In [45]:
STEPMission

'Aretemis Rover'

In [46]:
LengthCoveredByRocks = lengthOfRock*noOfRocks
LengthCoveredByRocks

105.0

# MANIPULATING TEXT

In [47]:
a = "Artemis"
b = "Rover"

In [49]:
c= a+" "+b
c

'Artemis Rover'

In [53]:
cUpperCase = c.upper()
cLowercase = c.lower()

print(cLowercase)
print(cUpperCase)
print(c)

artemis rover
ARTEMIS ROVER
Artemis Rover

In [57]:
text = "i Am MlSa" 
text.capitalize()

'I am mlsa'

In [62]:
a= "beep "
print(a+a+a)
print(a*10)

beep beep beep
beep beep beep beep beep beep beep beep beep beep

# LISTS

In [1]:
planets= ["Mercury", "Venus", "Earth"]
planets

['Mercury', 'Venus', 'Earth']

In [2]:
planets[0]

'Mercury'

In [3]:
planetsAndSequence= ["Venus",2,"Mercury",1, "Earth", 3]

In [5]:
planetsAndSequence[0]

'Venus'

In [6]:
planets.append('Mars')
planets

['Mercury', 'Venus', 'Earth', 'Mars']

In [7]:
print(2+2)
print(3+8)

4
11